
* {
  box-sizing: content-box;
  margin: 0;
  background-color: white
}

.navbar-section{
  height: 12vh;
  background-color: rgba(49,174,200,255);
  display: flex;
  justify-content: left;
  align-items: center;
}

.welcome{
  background-color: rgba(49,174,200,255);
  font-weight: bold;
  font-size: 3vh;
}

span{
  color: white;
  background-color: rgba(49,174,200,255)
}

.translation{
  color: white;
}

.switchImg{
  width: 3vw;
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  height: 40vh;
}

.headList{
  color: BLACK;
  background-color: WHITE;
  text-align: center;
  width: 20vw;
}

.subList{
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.497);
  width: 200px;
}

.detectingLanguage{
  display: flex;
}

.colorWhite{
  color: rgb(80, 74, 74);
}

.output{
  border: 0.2px solid black;
  padding: 5px;
  height: 14.4vh;
}